// @import "../Utils/variables";
// @import "../Base/resets";

.footer__container-fluid {
    background-color:$ColorPrincipal500;
 
}
.h2{
    color: white;
    margin-left: 20px;
}
.stylel {
    list-style-type: none;
}

.stylel li a {
    color: white;
}
@media only screen and (max-width: 577px) {
    .footer__container-fluid{
    display: none;
}
}
