/* Fonts
--------------------------------------------- */

@font-face {
    font-family: "Metropolis";
    font-weight: 400;
    src:local("Metropolis"),
      url("../fonts/Metropolis-Regular.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Metropolis";
    font-weight: 500;
    src:local("Metropolis Medium"),
      url("../fonts/Metropolis-Medium.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Metropolis";
    font-weight: 600;
    src:local("Metropolis Bold"),
      url("../fonts/Metropolis-Bold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Metropolis";
    font-style: italic;
    src:local("Metropolis Italic"),
      url("../fonts/Metropolis-RegularItalic.otf") format("opentype");
  }
  
  
  /* reset.css
  --------------------------------------------- */
  
  html {
      font-size: 62.5%;
  }
  
  html, body {
      margin: 0 auto;
      padding: 0;
      border: 0;
      box-sizing: border-box;
      line-height: 1.3;
      font-family: 'Metropolis', sans-serif;
      font-weight: 400;
  }
  
  *, *:before, *:after {
      box-sizing: inherit;
  }
  
  ul, ol {
      margin: 0 auto;
      padding: 0;
      list-style: none;
  }
  
  img, picture, video, canvas, svg {
      display: block;
      max-width: 100%;
  }
  
  blockquote, q {
      quotes: none;
  }
  
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }
  
  /* Général
  --------------------------------------------- */
  
  :root {
      --primary-color: #4C3173;
      --secondary-color: #F7F4F9;
      --text-color: #282828;
      --padding-btn: 12px 1vw;
      --taille-container: 1400px;
  }
  
  @media screen and (min-width: 576px) {
      :root {
          --h1-size: 3.2rem;
          --h2-size: 2.4rem;
          --h3-size: 1.8rem;
      }
  
      body {
          font-size: 1.6rem;
      }
  }
  
  @media screen and (max-width: 576px) {
      :root {
          --h1-size: 3rem;
          --h2-size: 2rem;
          --h3-size: 1.6rem;
      }
  
      body {
          font-size: 1.4rem;
      }
  }
  
  ::selection {
      background-color: var(--primary-color);
      color: #FFF;
  }
  
  .container {
      margin: 0 auto;
      max-width: 100%;
         width: var(--taille-container);
         padding-left: 1em;
         padding-right: 1em;
  }
  
  /* Boutons et liens
  --------------------------------------------- */
  
  a, button, input[type="submit"] {
      transition: ease all 0.25s;
      cursor: pointer;
  }
  
  .btn {
      padding: var(--padding-btn);
      border-radius: 4px;
  }
  
  .btn-primary {
      background-color: var(--primary-color);
      color: #FFF;
  }
  