.body_contact{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-info {
    background-color: #B69FD6;
    padding: 30px;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    
}

.contact-info h2 {
    color: #4C3172;
}

.contact-info h4 {
    color: #4C3172;
}

.contact-info p {
    color: white;
}