
 .color__title{
  color: $ColorPrincipal500;
  border-width: 2px 0 ;
  border-color:  $ColorPrincipal500 ;
  border-style: solid;
 }
 .title__signup{
  color: $ColorPrincipal500;
  border-bottom: solid 1px $ColorPrincipal500;

 }
 .border{
  border: 2px solid red;
 }
 .bg__roundP--100{
  background-color: $colorPrincipal100Opacity80;

  border-radius: 5px ;
 }

 .flag__style{
    width: 25px;
    height: 25px;
 }
 .btn-group-toggle label {
   margin-bottom: 0;
 }
 
 .btn__color{
   background-color:#c5c2c2;
   color: #fff;
 }
 
 .btn__color.checked {
   background-color: $ColorPrincipal500;
   color: #fff;
 }
 .test{
   border :2px solid red;
 }
.title__h3{
   font-size: 1.05rem;
   color: $ColorPrincipal500;
}
@media (max-width: 455px) { 
  .btn__media{flex-direction: column ;}
  
 }