
.selectH{
    border: 1px solid $ColorPrincipal500;
    background-color: $ColorPrincipal500;
    margin-top: 30px;
    height: 180px;

}
.color__title{
    background-color: $ColorPrincipal500;
    color: white;
}

.container__menu {
    background-color:$colorPrincipal200Opacity80;
    padding: 50px;
    color: $ColorPrincipal500;
    margin-left: auto;
    margin-right: auto;
}
.form__group {
    position: relative;
}
.label_desc{
    margin-left: 15px;
    margin-bottom: 10px;
}
.cour_start{
    margin-left: 5px;
}
.cour_end{
    margin-left: 15px;
}
.flag{
    width: 30px;
    position: absolute;
    margin-left: -40px;
    margin-top: 35px;
}
.fleche{
    width: 10px;
    position: absolute;
    left: -30px;
    top: 100px;

    
}
.horaires{
    color: $ColorPrincipal500;
    background-color: white;
    margin: 0;
    text-align: center;
    padding: 5px;
    border: 1px solid $ColorPrincipal500;
    font-weight: bold;    
}
.semaine {
    display: flex;
   flex-wrap: nowrap;
   padding: 10px;
   margin-top: 30px;
    
  }
  .jour-button{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white; 
    font-weight: bold;
    background: none;
    padding: 25px;
    width: 50px;
    cursor: pointer;
  }
  
 .jour-button:hover {
    background-color: $ColorPrincipal200;
    color: $ColorPrincipal500;
  }
.inpLg{
    width: 300px;
    border: 1px solid black; 
}
.inpSm{
    width: 120px;
    border: 1px solid black; 
  
}
.row__small{
    display: flex;
    justify-content: center;
}
.commentaire{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.row__commentaire {
    border: 2px solid $ColorPrincipal500;
    height: 30px;
    background-color: white;
    color: $ColorPrincipal500;
    
    
}
.btn__trajet{
    border-radius: 20px;
    border: 2px solid $ColorPrincipal500;
    width: 200px;
    color: white;
    background-color: $colorSecondary600;
}
.row__back{
    border: 1px solid $ColorPrincipal500;
    background-color: $ColorPrincipal100 ;
    opacity: 80%;
    
}

.form__h{
    height: 100px;
}



@media (max-width: 991px) {
    .container__menu {
        max-width: 600px;
    }

.col__t{
    display: flex;
    flex-direction: column;
    align-items: center;

}

}
  
  @media (max-width: 768px) {
    .jour-button{
        border-radius: 50%;

    }
    .container__menu {
        max-width: 460px;
    }
    .semaine {
      width: 21%; /* Ajuste la largeur des jours pour qu'ils tiennent sur une seule ligne */
    }
  }
  
  @media (max-width: 530px) {
    .selectH{
        width: 400px;
    }
    .jour-button {
      width: 50px; /* Ajuste la largeur des jours pour qu'ils tiennent sur une seule ligne */
      height: 50px;
      padding: 15px; /* Ajuste la marge interne pour éviter que le texte ne se déborde */
    }
  }
  
  @media (max-width: 390px) {
    .jour-button {
      width: 50px; /* Ajuste la largeur des jours pour qu'ils tiennent sur une seule ligne */
      height: 60px;
      padding: 6px; /* Ajuste la marge interne pour éviter que le texte ne se déborde */
    }
  }
  