
.selectH{
    border: 1px solid $ColorPrincipal500;
    background-color: $ColorPrincipal500;
    width: 320px;
    margin-top: 30px;
  height: 160px;
}
.color__title{
    background-color: $ColorPrincipal500;
    color: white;
}

.container__menu {
    background-color:$colorPrincipal200Opacity80;
    padding: 50px;
    color: $ColorPrincipal500;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}
.form__group {
    position: relative;
}
.label_desc{
    margin-left: 15px;
    margin-bottom: 10px;
}
.cour_start{
    margin-left: 5px;
}
.cour_end{
    margin-left: 15px;
}
.flag{
    width: 30px;
    position: absolute;
    margin-left: -40px;
    margin-top: 35px;
}
.fleche{
    width: 10px;
    position: absolute;
    left: -30px;
    top: 100px;

    
}
.horaires{
    color: $ColorPrincipal500;
    background-color: white;
    margin: 0;
    text-align: center;
    padding: 5px;
    border: 1px solid $ColorPrincipal500;
    font-weight: bold;    
}
.semaine{
    padding: 20px;
    gap: 5px;   
    margin-top: 10px;
}
.jour {
    border: 1px solid white;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    width: 10px;

}
.jour:hover{
    background-color: $ColorPrincipal200;
    color: $ColorPrincipal500;
}
.inpLg{
    width: 300px;
    border: 1px solid black; 
}
.inpSm{
    width: 120px;
    border: 1px solid black; 
  
}
.row__small{
    display: flex;
    justify-content: center;
}
.commentaire{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.row__commentaire {
    border: 2px solid $ColorPrincipal500;
    height: 30px;
    background-color: white;
    color: $ColorPrincipal500;
    
    
}
.btn__trajet{
    border-radius: 20px;
    border: 2px solid $ColorPrincipal500;
    width: 200px;
    color: white;
    background-color: $colorSecondary600;
}
.row__back{
    border: 1px solid $ColorPrincipal500;
    background-color: $ColorPrincipal100 ;
    opacity: 80%;
    
}

.form__h{
    height: 100px;
}



@media (max-width: 991px) {
    .container__menu {
        max-width: 400px;

    }
.col__t{
    display: flex;
    flex-direction: column;
    align-items: center;

}


    .semaine{
        gap: 10px;
    }
    .col.jour {
      border-radius: 50%;
      width: 50px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
  }
  
  