@charset "UTF-8";
#offcanvasNavbar {
  top: 48%;
  height: 32%;
  width: 60%;
}

.nav__ul {
  color: #4C3172;
}

.bg__nav {
  background-color: #D9CDEA;
}

@media (min-width: 576px) {
  .nav-bar-container {
    width: 100%;
    right: 0;
    left: auto;
    display: inline;
    font-size: 16pt;
    font-weight: bolder;
    z-index: 750;
    top: 120px;
    bottom: auto;
    background-color: #D9CDEA;
  }
}
@media (max-width: 577px) {
  nav {
    width: 100%;
  }
  .nav-bar-container {
    width: 100%;
    right: 0;
    left: auto;
    display: inline;
    font-size: 16pt;
    font-weight: bolder;
    z-index: 750;
    position: fixed;
    top: auto;
    bottom: 0;
    background-color: #D9CDEA;
  }
}
.header {
  background-color: #B69FD6;
}

.image {
  padding: 8px;
  height: 120px;
}

@media (max-width: 576px) {
  .header__login {
    background-color: rgb(255, 255, 255);
  }
}
.footer__container-fluid {
  background-color: #4C3172;
}

.h2 {
  color: white;
}

.stylel {
  list-style-type: none;
}

.stylel li a {
  color: white;
}

@media only screen and (max-width: 577px) {
  .footer__container-fluid {
    display: none;
  }
}
.nav-item a {
  padding: 0;
  text-decoration: none;
  font-size: 8pt;
  color: #4C3172;
  font-family: "Metropolis", sans-serif;
}

.nav-item a p {
  margin: 0;
}

.nav-item a i {
  font-size: 24pt;
}

.nav-item a:hover {
  background-color: #4C3172;
  color: #D9CDEA;
}

.onCanvas a {
  text-decoration: underline;
  padding: 2px;
}

.onCanvas a:hover {
  background-color: white;
  color: #6D46A4;
}

@media (min-width: 576px) {
  .nav-item a {
    padding: 10px;
    font-size: 12pt;
  }
}
.profilePic {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  object-fit: cover;
  padding: 0;
}

.profilePic-sm {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  object-fit: cover;
  padding: 0;
}

.rounded {
  border-radius: 5px;
}

.roundedPlus {
  border-radius: 15px;
}

.search-container {
  width: 100%;
  display: block;
  margin: 0;
  background: #B69FD6;
  border-radius: 9999px;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 2px solid #B69FD6;
  border-radius: 9999px;
  outline: none;
}
input#search-bar:focus {
  border: 2px solid #4C3172;
  transition: 0.35s ease;
  color: #6D46A4;
}
input#search-bar:focus::-webkit-input-placeholder {
  color: #B69FD6;
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-btn {
  background: none;
  border: none;
}

.search-icon {
  color: #B69FD6;
}
.search-icon:hover {
  color: #4C3172;
}

.btn_search {
  position: relative;
  float: right;
  top: -35px;
  right: 10px;
}

.btn_more {
  text-decoration: underline;
  position: relative;
  float: right;
  color: #4C3172;
}
.btn_more:hover {
  color: #6D46A4;
  transition: opacity 0.45s ease;
}

@media (min-width: 768px) {
  .search-container {
    padding-right: 150px;
  }
  .btn_more {
    top: -35px;
    right: -170px;
  }
}
@media (max-width: 768px) {
  .search-container {
    padding-right: 40px;
  }
  .btn_more {
    top: -35px;
    right: -60px;
  }
}
input[type=checkbox].checkbox-Primary {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(255, 255, 255);
  margin: 0;
  font: inherit;
  color: #4C3172;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #4C3172;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type=checkbox].checkbox-Primary::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #4C3172;
}

input[type=checkbox].checkbox-Primary:checked::before {
  transform: scale(1);
}

.bg__p--500 {
  background: #4C3172;
}

.wrapper__s {
  width: 66vh;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.bg__btn--submit {
  background: #42C0FF;
}

.radius__left {
  border-radius: 25px 0 0 25px !important;
}

.radius__right {
  border-radius: 0 25px 25px 0 !important;
}

.resum {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.label__white {
  color: rgb(255, 255, 255);
}

.w__signup {
  width: 66%;
}

.bg__btn--close {
  background-color: #4C3172;
}

/* Afficher l'image desktop pour les écrans larges */
@media (min-width: 768px) {
  .desktop-image {
    content: "";
    display: block;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/desktopBGcar_driving-bro.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    min-height: 68.8vh;
  }
}
/* Afficher l'image mobile pour les écrans étroits */
@media (max-width: 991px) {
  .wrapper__s {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
  }
}
/* Afficher l'image mobile pour les écrans étroits */
@media (max-width: 767px) {
  .desktop-image {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/mobileBackground_car.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    min-height: 80vh;
  }
  .w__signup {
    width: 100%;
  }
  .section__resum {
    display: none;
  }
}
.bg__section--signup {
  background: rgba(255, 255, 255, 0.8);
}

.color__title {
  color: #4C3172;
  border-width: 2px 0;
  border-color: #4C3172;
  border-style: solid;
}

.bg__section--lavande {
  background: rgba(217, 205, 234, 0.8);
}

#map {
  height: 400px;
  width: auto;
}

.map-container {
  z-index: 5;
  position: relative;
  top: auto;
  left: auto;
}

.leaflet-routing-container {
  display: none;
}

.mapButton {
  margin-top: 5px;
  background-color: #D9CDEA;
  border: 1px solid #4C3172;
}

.mapButton img {
  height: 45px;
}

.mapButton:hover {
  background-color: #6D46A4;
}

.mapButton .active {
  background-color: #6D46A4;
}

.text-nodec {
  text-decoration: none;
}

.bg-P500 {
  background-color: #4C3172;
  color: rgb(255, 255, 255);
}

.bg-P400 {
  background-color: #6D46A4;
  color: rgb(255, 255, 255);
}

.bg-P300 {
  background-color: #8F6DC0;
  color: rgb(255, 255, 255);
}

.bg-P200 {
  background-color: #B69FD6;
  color: #000;
}

.bg-P200-o {
  background-color: rgba(217, 205, 234, 0.8);
  color: #000;
}

.bg-W {
  background-color: rgb(255, 255, 255);
  color: #000;
}

.text-P500-border {
  color: #4C3172;
  border-top: 1px solid #4C3172;
  border-bottom: 1px solid #4C3172;
  margin-top: 2px;
}

.text-P500 {
  color: #4C3172;
}

.bld {
  font-weight: bold;
}

.bgimg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1000;
}

.desktop-image-profile {
  content: "";
  display: block;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/desktopBGcar_driving-bro.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  min-height: 80vh;
}

.selectH {
  border: 1px solid #4C3172;
  background-color: #4C3172;
  width: 320px;
}

.color__title {
  background-color: #4C3172;
  color: white;
}

.container__menu {
  background-color: rgba(217, 205, 234, 0.8);
  padding: 50px;
  color: #4C3172;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  position: relative;
}

.flag {
  width: 30px;
  position: absolute;
  left: -35px;
  top: 25px;
}

.fleche {
  width: 10px;
  position: absolute;
  left: -25px;
  top: 80px;
}

.horaires {
  color: #4C3172;
  background-color: white;
  margin: 0;
  text-align: center;
  padding: 5px;
  border: 1px solid #4C3172;
  font-weight: bold;
}

.semaine {
  padding: 20px;
  gap: 5px;
}

.jour {
  border: 1px solid white;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  width: 10px;
}

.jour:hover {
  background-color: #B69FD6;
  color: #4C3172;
}

.inpLg {
  width: 300px;
  border: 1px solid black;
}

.inpSm {
  width: 120px;
  border: 1px solid black;
}

.row__small {
  display: flex;
  justify-content: center;
}

.commentaire {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row__commentaire {
  border: 2px solid #4C3172;
  height: 30px;
  background-color: white;
  color: #4C3172;
}

.btn__trajet {
  border-radius: 20px;
  border: 2px solid #4C3172;
  width: 200px;
  color: white;
  background-color: #42C0FF;
}

.row__back {
  border: 1px solid #4C3172;
  background-color: #D9CDEA;
  opacity: 80%;
}

.form__h {
  height: 100px;
}

@media (max-width: 991px) {
  .container__menu {
    max-width: 400px;
  }
  .col__t {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .semaine {
    gap: 10px;
  }
  .col.jour {
    border-radius: 50%;
    width: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.contact-info {
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info h2 {
  color: #4C3172;
}

.contact-info h4 {
  color: #4C3172;
}

.contact-info p {
  color: #4C3172;
}

.custom-heigth {
  min-height: 550px;
}

.bg__100 {
  background-color: #D9CDEA;
}

.bg__400 {
  background-color: #6D46A4;
}

.bg__secondary--500 {
  background-color: #91DAFF;
}

.h__title--card {
  height: 44px;
}

.bg__offCanvas {
  background-color: #6D46A4;
}

.colors__offcanvas {
  color: rgb(255, 255, 255);
}

.bg__input--chat {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 0;
}

.width__90 {
  width: 80%;
}

.img__width {
  width: 20px;
}

.bg__card--conducteurPassager {
  background-color: #6D46A4;
}

.bg__card--conducteur {
  background-color: #8F6DC0;
}

.bg__card--passager {
  background-color: #B69FD6;
}

#contactsOffcanvas, #notificationsOffcanvas {
  top: 20%;
  height: 70%;
  width: 50%;
}

.card__body--chat {
  overflow-y: auto;
  max-height: 450px;
}

@media (max-width: 576px) {
  .body__chat {
    margin: 0;
    padding: 0;
    height: 90%;
    overflow: hidden;
  }
  .main__chat {
    height: 100vh;
    overflow-y: hidden;
  }
  .card__body--chat {
    overflow-y: auto;
    max-height: 550px;
  }
  .custom-heigth {
    min-height: 650px;
    max-height: 650px;
  }
  .reduced-image-size {
    max-width: 35px;
    height: auto;
  }
  .reduced-text-size {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=main.css.map */
