@mixin font{
    font-family: 'Metropolis', sans-serif;
}

@mixin pageHead {
    width: 100%;
    position: fixed;
    right: 0;
    left: auto;
    display: inline;
    font-size: 16pt;
    font-weight: bolder;
}
