//Primary Color
$ColorPrincipal100 : #D9CDEA;
$ColorPrincipal200 : #B69FD6;
$ColorPrincipal300 : #8F6DC0;
$ColorPrincipal400 : #6D46A4;
$ColorPrincipal500 : #4C3172;
$colorPrincipal200Opacity80:rgba(217,205,234,80%);


//Secondary Color
$colorSecondary500 : #91DAFF;
$colorSecondary600 : #42C0FF;

//white
$colorWhite :rgb(255,255,255);
$colorWhiteOpacity80 :rgba(255,255,255,80%);

//balck
$colorblack : #000000;