.body_mentions {

    display: flex;
    align-items: center;
    justify-content: center;
}

.mentions-info {
    background-color: #B69FD6;
    padding: 30px;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.mentions-info h2, .mentions-info h4 {
    color: #4C3172;
}

.mentions-info p {
    color: white;
}