#offcanvasNavbar{
  top: 48%;
  height: 32%;
  width: 60%;
}

ul {
  color: $ColorPrincipal500;
}

@media (min-width: 576px) {
  .nav-bar-container {
    @include pageHead;
    top: 120px;
    bottom: auto;
    background-color: $ColorPrincipal100;
  }
}

@media (max-width:577px){
  nav {
    width: 100%
  }

  .nav-bar-container {
    @include pageHead;
    top: auto;
    bottom: 0;
    background-color: $ColorPrincipal100;
  }
}
