.profilePic {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  object-fit: cover;
  padding: 0;
}

.profilePic-sm {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  object-fit: cover;
  padding: 0;
}

.rounded {
  border-radius: 5px;
}

.roundedPlus {
  border-radius: 15px;
}
